.customer_service_audit input {
  width: 150px;
  margin: 10px 10px 10px 0px;
  float: left;
}
.customer_service_audit h3 {
  margin: 10px 10px 10px 20px;
  display: inline;
  float: left;
}
.customer_service_audit h4 {
  float: right;
  margin: 10px 10px 0px 0px;
}
.customer_service_audit button {
  float: right;
  margin: 10px 0px 10px 0px;
  width: 100px;
}
.p p {
  margin: 10px 0px 0px 200px;
  float:left;
}
.p h4 {
  text-align: center;
  float: left;
  margin-left: 20px;
}
.p input {
  float: left;
  margin-left: 20px;
}
.p hr {
  margin-top: 20px;
}
.p button {
  float: left;
  margin-left: 20px;
}
.wwd {
  margin: 10px 0px 0px 200px;
  float:left;
}
.textareaTitle {
  float: left;
  margin-left: 200px;
}

.textarea {
  height: 50px;
  width: 300px;
  margin-left: 10px;
}

.textareaDiv {
  margin-top: 10px;
  margin-left: 0px;
}
