.headDiv {
  
}
.tableDiv {
  margin-top:20px;
}
.editA {
  
}
.editIcon {
  font-size: 20px;
  color: black;
}
.deleteA {
  
}
.deleteIcon {
  font-size: 20px;
  color: black;
}
.searchBtn {
  border:none;
}